'.source.opentype':
  'editor':
    'commentStart': '# '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '[\\[\\{}]'
    'decreaseIndentPattern': '^(.*\\*/)?\\s*(\\}|\\])'
