'scopeName': 'source.opentype'
'fileTypes': [
  'fea'
]
'firstLineMatch': '^#!.*\\bOpenType'
'name': 'OpenType Feature File'
'patterns': [
  {
    'match': '(@)([A-Za-z_][A-Za-z0-9._]*)\\b'
    'captures':
      '1': 'name': 'special_characters.opentype'
      '2': 'name': 'glyph_class_name.opentype'
  }
  {
    'include': '#keyword_as_glyph_name'
  }
  {
    'include': '#keyword'
  }
  {
    'include': '#numeric_as_glyph_name'
  }
  {
    'match': '(#[^\\n]*)$'
    'name': 'comment.opentype'
  }
  {
    'match': '\\b(include)\\s*(\\()([^()]+)(\\))'
    'captures':
      '1': 'name': 'keyword'
      '2': 'name': 'special_characters.opentype'
      '3': 'name': 'string.quoted.double'
      '4': 'name': 'special_characters.opentype'
  }
  {
    'include': '#numeric'
  }
  {
    'include': '#special_characters'
  }
  {
    'include': '#double_quoted_string'
  }
]
'repository':
  'keyword_as_glyph_name':
    'patterns': [
      {
        'match': '(\\\\)((?:anchor|anchorDef|anonymous|anon|by|contour|cursive|device|enumerate|enum|excludeDFLT|exclude_dflt|feature|from|ignore|IgnoreBaseGlyphs|IgnoreLigatures|IgnoreMarks|MarkAttachmentType|UseMarkFilteringSet|includeDFLT|include_dflt|language|languagesystem|lookup|lookupflag|mark|markClass|nameid|NULL|parameters|position|pos|required|RightToLeft|reversesub|rsub|script|substitute|sub|subtable|table|useExtension|valueRecordDef|HorizAxis.BaseTagList|HorizAxis.BaseScriptList|HorizAxis.MinMax|VertAxis.BaseTagList|VertAxis.BaseScriptList|VertAxis.MinMax|GlyphClassDef|Attach|LigatureCaretByDev|LigatureCaretByIndex|LigatureCaretByPos|MarkAttachClass|FontRevision|CaretOffset|Ascender|Descender|LineGap|Panose|TypoAscender|TypoDescender|TypoLineGap|winAscent|winDescent|UnicodeRange|CodePageRange|XHeight|CapHeight|Vendor|sizemenuname|VertTypoAscender|VertTypoDescender|VertTypoLineGap|VertOriginY|VertAdvanceY|FSType|fsType)\\b)'
        'captures':
          '1': 'name': 'special_characters.opentype'
          '2': 'name': 'normal_text.opentype'
      }
    ]
  'keyword':
    'patterns': [
      {
        'match': '(\\b(?:anchor|anchorDef|anonymous|anon|by|contour|cursive|device|enumerate|enum|excludeDFLT|exclude_dflt|feature|from|ignore|IgnoreBaseGlyphs|IgnoreLigatures|IgnoreMarks|MarkAttachmentType|UseMarkFilteringSet|includeDFLT|include_dflt|language|languagesystem|lookup|lookupflag|mark|markClass|nameid|NULL|parameters|position|pos|required|RightToLeft|reversesub|rsub|script|substitute|sub|subtable|table|useExtension|valueRecordDef|HorizAxis.BaseTagList|HorizAxis.BaseScriptList|HorizAxis.MinMax|VertAxis.BaseTagList|VertAxis.BaseScriptList|VertAxis.MinMax|GlyphClassDef|Attach|LigatureCaretByDev|LigatureCaretByIndex|LigatureCaretByPos|MarkAttachClass|FontRevision|CaretOffset|Ascender|Descender|LineGap|Panose|TypoAscender|TypoDescender|TypoLineGap|winAscent|winDescent|UnicodeRange|CodePageRange|XHeight|CapHeight|Vendor|sizemenuname|VertTypoAscender|VertTypoDescender|VertTypoLineGap|VertOriginY|VertAdvanceY|FSType|fsType)\\b)'
        'name': 'keyword'
      }
    ]
  'numeric_as_glyph_name':
    'patterns': [
      {
        'match': '(\\\\)([0-9]+(?:\\.[0-9]+)?)'
        'captures':
          '1': 'name': 'special_characters.opentype'
          '2': 'name': 'normal_text.opentype'
      }
    ]
  'special_characters':
    'patterns': [
      {
        'match': '[#;,\\-\\=\'\\{\\}\\[\\]\\<\\>\\(\\)]'
        'name': 'special_characters.opentype'
      }
    ]
  'double_quoted_string':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'special_characters.opentype'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'special_characters.opentype'
        'name': 'string.quoted.double'
        'patterns': [
          {
            'match': '\\\\(x\\h{2}|[0-2][0-7]{,2}|3[0-6][0-7]|37[0-7]?|[4-7][0-7]?|.)'
            'name': 'constant.character.escape'
          }
        ]
      }
    ]
  'numeric':
    'patterns': [
      {
        'match': '-?(?<!\\$)\\b((0([box])[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?(e[+\\-]?[0-9]+)?))\\b'
        'name': 'constant.numeric'
      }
    ]
